*{
  box-sizing: border-box;
}


.wrapper{
  width: 100%;
  height: 100%;
}

.header{
  width: 100%;
  background-image: image-url("header.jpg");
  background-size:  cover; 
  &-content {
  max-width: 950px;
  width: 100%;
  margin: auto;
  &__logo{
    color: white;
    font-size: 40px;
  }
  a{
    text-decoration: none;
    display: block;
    color:  white;
  }
  a:hover{
    color: red;
  }
}
}



.header-nav-container{
  max-width: 950px;
  width: 100%;
  margin: auto;
  height: 50px;
}
ul{
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  line-height: 50px;
}
a{
  padding-right: 10px;
  color: white;
  text-decoration: none;
}
a:hover{
  color: red;
}



@media (max-width: 1000px) {
  .header-content__logo {
  font-size: 35px;
  margin-top: 5px;
  }
  .header-nav-container ul {
    font-size: 20px;
    padding-top: 15px;
  }
}


@media (max-width: 670px) {
  .header-content__logo {
    font-size: 30px;
    margin-top: 20px;
    margin-left: 5px;
    }
    .header-content__logo a {
      display: inline-block;
    }
    .header-nav-container ul {
      font-size: 20px;
      padding-top: 15px;
      margin-left: 10px;
    }
    
}




.cover{
width: 100%;
}


.cover-content{
background-image: image-url("main.jpg");
background-size:cover;
background-position: center center;                              /* 画像のサイズを指定  */
width:100%;                                            /* 横幅のサイズを指定  */ 
text-align: left;
padding-top: 100px;
padding-bottom: 100px;
&__comment{
max-width: 950px;
width: 100%;
margin: auto;
h1{
font-size: 50px;
color:#FF33FF;
}
h2{
color: #FF33FF;
font-size: 50px;

}  
}
}


@media (max-width: 1000px) {
  .cover-content__comment {
  h1{
    font-size: 60px;
  }
  h2{
    font-size: 60px;
  }
}
}

@media (max-width: 670px) {
  .cover-content__comment {
    h1{
      font-size: 45px;
      margin-left: 5px;
    }
    h2{
      font-size: 45px;
      margin-left: 5px;
    }
  }
}



.about-content{
width: 100%;
padding-top: 10px;
background-color: #EEE8AA	;
&__comment{
max-width: 950px;
width: 100%;
margin: auto;
font-size: 50px;
display: flex;
justify-content: start;
h2{
font-size: 50px;
margin-top: 20px;
}
&__image{
  img{
height: 150px;
width: 150px;
object-fit: cover; 
margin-top: 90px;
margin-left: -150px;
margin-right: 20px;
}
}
img:hover{
  transform: scale(1.1, 1.1);
}
&__text {
  h5{
    font-size: 20px;
    padding-top: 65px;
  }
  p{
    font-size: 20px;
    padding-top: 10px;
  }
}
}
}
 
  

@media (max-width: 670px) {
  .about-content__comment {
    display: block;
    text-align: left;
  h2{
    font-size: 40px;
    margin-left: 5px;
    }
    &__image{
    img{
    height: 150px;
    width: 150px;
    margin: 0 auto;
    object-fit: cover; 
    text-align: center;
    margin-left: 5px;
    } 
}
  }


  .about-content__comment__text {
    h5{
      font-size: 20px;
      padding-top: 10px;
      margin-left: 5px;
    }
    p{
      font-size: 20px;
      padding-top: 10px;
      margin-left: 5px;
    }
  }  
}




.work-content{
width: 100%;
padding-top: 50px;
background-color: #EEE8AA;
&__comment{
max-width: 950px;
width: 100%;
margin: auto;
display: flex;
}
h2{
  font-size: 50px;
}
}


.contact-content__text{
}
h2{
  font-size: 50px;
}

.work-content__comment__textleft{
padding-top: 60px;
h2{
font-size: 20px;
margin-left: -120px;
}
img{
  height: 150px;
  width: 300px;
  object-fit: cover; 
  padding-top: 20px;
  padding-right: 20px;
  margin-left: -130px;
  font-size: 20px;
}
img:hover{
  transform: scale(1.1, 1.1);
}
}


.work-content__comment__textright{
  padding-top: 60px;
  h2{
    font-size: 20px; 
  }
img{
  height: 150px;
  width: 300px;
  object-fit: cover; 
  padding-top: 20px;
  padding-right: 20px;
  font-size: 20px;
}
img:hover{
  transform: scale(1.1, 1.1);
}
}

@media (max-width: 670px) {
  .work-content__comment {
    display: block;
    text-align: left;
    padding-top: 10px;
    margin-left: 5px;
    h2{
      font-size: 40px;
      margin-left: 5px;
  }
  }


  .work-content__comment__textleft{
    padding-top: 5px;
    h2{
    font-size: 20px;
    padding-top: 10px;
    margin: 0 auto;
    }
    img{
      margin: 0 auto;
  }
}
}


.faq-wrapper{
  width: 100%;
  padding-top: 50px;
  background-color: #EEE8AA;
}

.container{
max-width: 950px;
width: 100%;
margin: auto;
}


#faq-list {
  width: 500px;
  list-style: none;
  display: block;
}

/*アコーディオン追加 */
.faq-list-item {
  border-bottom:1px solid #ccc;
  position:relative;
  cursor:pointer;
  text-align: left;
}

.faq-list-item h3 {
  font-size: 14px;
}

.faq-list-item span {
  position:absolute;
  top:0;
  right:5px;
  color: black;
  font-size:13px;
}

.answer {
  font-size: 12px;
  display: none;
  padding: 5px 0px;
}



@media (max-width: 670px) {
  .container {
    margin-left: 5px;
  }
}













.contact-content{
width: 100%;
padding-top: 50px;
background-color: #EEE8AA;
&__text{
max-width: 950px;
width: 100%;
margin: auto;
display: flex;
h2{
  font-size: 50px;
}
&__mail{
padding-top: 70px;
padding-right: 30px;
margin-left: -160px;
h3{
font-size: 20px;
}
}
&__comment{
padding-top: 30px;
.btn {
  background-color: #FFD700;
  padding: 15px 40px;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}
.btn:active{
  box-shadow: none;
  position: relative;
  top: 7px;
}
}
}
}


@media (max-width: 670px) {
  .contact-content__text {
    margin-left: 5px;
  }
}


.footer{
  width: 100%;
  height: 50px;
  background-color: blue;

.footer-content {
max-width: 950px;
width: 100%;
margin: auto;
display: flex;
}
.fotter-content__item ul{
 line-height: 30px;
}
}

@media (max-width: 670px) {
  .fotter-content__item {
    margin-left: 5px;
  }
}
