.about-content{
  width: 100%;
  padding-top: 30px;
  background-color: #ffffff;
  &__comment{
  max-width: 950px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: start;
  h2{
  font-size: 40px;
  margin-top: 20px;
  }
  &__image{
  overflow: hidden;
	width: 200px;
  height: 200px;
  margin-top: 90px;
  margin-left: -120px;
  margin-right: 20px;
  img{
  width: 200px;
  height: 200px;
  display: block;
  transition: 0.5s;
  }
  }
  img:hover{
    transform: scale(1.1, 1.1);
    
  }
  &__text {
      padding-top: 75px;
    }
    .txt{
      font-size: 15px;
      padding-top: 10px;
      padding-left: 40px;
      letter-spacing: 0.1em;
    }
    
  }
  }
  

  
   
    
  
  @media (max-width: 670px) {
    .about-content__comment {
      display: block;
      text-align: left;
    h2{
      font-size: 40px;
      margin-left: 5px;
      }
      &__image{
        margin-top: 20px;
        margin-left: 10px;
       
    }
  }
    .about-content__comment__text {
      padding-top: 20px;
      .txt{
        font-size: 15px;
        padding-top: 10px;
        margin-left: 10px;
        padding-left: 0px;
      }
    }  
}