.contact-content{
  width: 100%;
  background-color: #ffffff;
  padding: 70px 0;
  &__text{
  max-width: 950px;
  margin: auto;
  h2{
    font-size: 40px;
  }
  &__mail {
    padding-top: 30px;
  }
  p {
    padding-bottom: 7px;
  }
}
}
  
@media (max-width: 670px) {
  .contact-content__text{
    margin-left: 5px;
  }
  h2 {
    font-size: 40px;
  }
}



