.contact-content{
  width: 100%;
  background-color: #ffffff;
  padding: 160px 0 80px 0;
  &__text{
  max-width: 950px;
  margin: auto;
  h2{
    font-size: 40px;
  }
  &__mail {
    padding-top: 30px;
  }
  p {
    padding-bottom: 7px;
    padding-left: 10px;
  }
}
}
  
@media (max-width: 670px) {
  .contact-content{
     margin-left: 5px;
   }
  h2 {
    font-size: 40px;
  }
}



