.footer{
  width: 100%;
  background-color: blue;
}
.footer-content {
max-width: 950px;
width: 100%;
margin: auto;
padding: 15px 0;
}
.footer-content__item ul{
 line-height: 30px;
 display: flex;
}


@media (max-width: 670px) {
 
  .footer-content__item ul{
   display: block;
  }
}