.work {
  width: 100%;
  height: 100%;
  background-color:#ffffff;
  &-content{
  padding-top: 180px;
  max-width: 950px;
  margin: auto;
  }
  h2{
    font-size: 40px;
    padding-bottom: 20px;
  }
  p.workcome {
   margin-left: 10px;
   letter-spacing: 0.1em;
   padding-bottom: 8px;
  }
}
  
.work-content__comment {
  margin-top: 20px;
  display: flex;
  color: black;
  &__textleft {
  margin-right: 170px;
  &__inner {
    letter-spacing: 0.1em;
    overflow: hidden;
    width: 300px;
    height: 300px;
    img{
      padding-bottom: 10px;
      width: 300px;
      height: 300px;
      display: block;
      transition: 0.5s;
    } 
    img:hover {
      opacity: 0.7;
      transform: scale(1.1, 1.1);
    }
   }
  }
}

.comeo{
  font-size: 20px;
  margin-bottom: -15px;
  font-weight: 300;
  margin-left: 10px;
  }
.come {
  font-size: 15px;
  margin-left: 20px;
  }
  .comeh{
    font-size: 15px;
    margin-left: 20px;
    margin-top: 10px;
    }
.come.g {
  padding-top: 10px;
  color: royalblue;
  }

.work-content__comment__textright__inner {
  letter-spacing: 0.1em;
  overflow: hidden;
	width: 300px;
  height: 300px;
  letter-spacing: 0.1em;
  img{
  padding-bottom: 10px;
  width: 300px;
  height: 300px;
  display: block;
  transition: 0.5s;
  } 
  img:hover {
    opacity: 0.7;
    transform: scale(1.1, 1.1);
  }
}

.komeo {
  font-size: 20px;
 margin-bottom: -15px;
  font-weight: 300;
  margin-left: 10px;
}

.komef {
  padding-left: 20px;
  font-size: 15px;
  
}


.work-content__commentund {
  display: flex;
  color: black;
  &__textleft {
  margin-right: 170px;
  &__inner {
    letter-spacing: 0.1em;
    overflow: hidden;
    width: 300px;
    height: 300px;
    img{
      padding-bottom: 10px;
      width: 300px;
      height: 300px;
      display: block;
      transition: 0.5s;
    } 
    img:hover {
      opacity: 0.7;
      transform: scale(1.1, 1.1);
    }
   }
  }
}


.work-content__commentund__textright__inner {
  letter-spacing: 0.1em;
  overflow: hidden;
	width: 300px;
  height: 300px;
  letter-spacing: 0.1em;
  img{
  padding-bottom: 10px;
  width: 300px;
  height: 300px;
  display: block;
  transition: 0.5s;
  } 
  img:hover {
    opacity: 0.7;
    transform: scale(1.1, 1.1);
  }
}


.comeundo {
font-size: 20px;
margin-bottom: -15px;
font-weight: 300;
margin-left: 10px;
}

.comeund {
  padding-left: 10px;
  font-size: 15px;
  margin-left: 20px;
}


.komeundo {
font-size: 20px;
 margin-bottom: -15px;
font-weight: 300;
margin-left: 10px;
}

.komeundf {
  padding-left: 10px;
  font-size: 15px;
  margin-left: 20px;
}

.comet {
  padding-top: 10px;
  color: royalblue;
  margin-left: 30px;
}



@media (max-width: 670px) {
  .work-content{
    margin-left: 5px;
  &__comment{
    display: block;
  &__textleft{
    margin-right: 0px;
    padding-top: 10px;
  &__inner{
    margin-left: 5px;
  }
}
  }
  
  .work-content__comment__textright__inner {
    margin-left: 5px;
  }
  .work-content__comment__textright__inner img {
    width: 200px;
    height: 200px;
  }
  .work-content__comment__textleft__inner img {
    width: 200px;
    height: 200px;
  }
  .comeo {
    margin-left: 5px;
    margin-top: -90px;
  }
  .komeo {
    margin-left: 5px;
    margin-top: -90px;
  }
  
  }

  .work-content__commentund {
    display: block;
  }

  .work-content__commentund__textright__inner img {
    width: 200px;
    height: 200px;
  }
  .work-content__commentund__textleft__inner img {
    width: 200px;
    height: 200px;
  }

  .comeundo {
    margin-left: 5px;
    margin-top: -90px;
  }
  .komeundo {
    margin-left: 5px;
    margin-top: -90px;
  }

}






















